<div class="project__container">
	<div class="project__header">
		<h1 class="title--4">{{title}}</h1>
		<span class="project__date">{{date}}</span>
	</div>
	<p class="project__descr">{{descr}}</p>
	<div class="project__footer">
		<div class="project__context">
			<p>Agency</p>
			<p>{{context}}</p>
		</div>
		<div class="project__role">
			<p>Role</p>
			<p>Front-end</p>
		</div>
		<div class="project__technos">
			<p>In</p>
			<p>{{technos}}</p>
		</div>
		<div class="project__link">
			<span>Live</span>
			<a href="{{link}}" target="_blank" class="project__button button"><i>i</i></a>
		</div>
	</div>
</div>